button {
  background-color: blue;
  color: white;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 15px;
  border: 1px solid grey;
}

ul {
  max-width: 350px;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
  padding: 3px;
  border: 1px solid grey;
  -webkit-box-shadow:3px 3px 0px 0px #ccc;
  -moz-box-shadow:3px 3px 0px 0px #ccc;
  box-shadow:3px 3px 0px 0px #ccc;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.todoDate {
  color: grey;
  font-size: smaller;
  text-align: end;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
  margin-top: 10px;
}

.finishedTodo {
  text-decoration: line-through;
}